.div-center{
    height: 400px;
}

#app {
    border: 1px solid red;
    height: 100vh;
}

.row, .col {
    display: flex;
    flex-wrap: wrap;
}


.col {
    margin: 16px;
   
}

.col-2 {
    width: calc((100%/2) - 16px * 2);
}

.col-3 {
    width: calc((100%/3) - 16px * 2);
}

@media (max-width: 567px) {
    .col {
        width: 100%;
    }
}

